name: Release Please

permissions:
  contents: write
  pull-requests: write

on:
  pull_request:
    branches:
      - develop

jobs:
  release-please:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Ensures full history, tags, and commits are available


      - name: Release Please # on develop branch with tags from main
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.ORG_GITHUB_WRITE_TOKEN }}
          release-type: simple
          target-branch: main
