name: Release Please

on:
  pull_request:
    branches:
      - develop
    types:
      - closed

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run build
        run: bun run build

      - uses: googleapis/release-please-action@v4
        with:
          # this assumes that you have created a personal access token
          # (PAT) and configured it as a GitHub action secret named
          # `GITHUB_TOKEN` (this secret name is not important).
          token: ${{ secrets.ORG_GITHUB_WRITE_TOKEN }}
          target-branch: main
          # optional. customize path to release-please-config.json
          config-file: release-please-config.json
          # optional. customize path to .release-please-manifest.json
          manifest-file: .release-please-manifest.json
